In [12]:
import pandas as pd
import numpy as np

## Resultados
Este averaging nos dio de score 0.87486!

In [13]:
##  Reemplazar por los mejores submits o los que ustedes crean copados.
df1 = pd.read_csv('../submit_87379.csv', low_memory=False, index_col='person')
df2 = pd.read_csv('../weird_submit.csv', low_memory=False, index_col='person')
df3 = pd.read_csv('../submit_casimiro.csv', index_col='person')

In [14]:
df1.rename(columns={'label':'label_1'}, inplace=True)

In [15]:
df2.rename(columns={'label':'label_2'}, inplace=True)

In [16]:
df3.rename(columns={'label':'label_3'}, inplace=True)

In [17]:
merge = df1.join(df2)
merge = merge.join(df3)

In [18]:
##  Le di más peso al que mejor score sacó, that's about it.
merge['label'] = merge['label_1'] * 0.7 + merge['label_2'] * 0.2 + merge['label_3'] * 0.1

In [19]:
merge[['label']].to_csv('../submit_averaging_v3.csv', sep=',')

In [20]:
merge.head()

           label_1   label_2   label_3     label
person
4886f805  0.003501  0.003802  0.003875  0.003663
0297fc1e  0.027697  0.032701  0.039644  0.031241
2d681dd8  0.009686  0.009249  0.008686  0.009383
cccea85e  0.198066  0.176679  0.257446  0.199488
4c8a8b93  0.014895  0.038761  0.044798  0.027734