In [1]:
import pandas as pd
import numpy as np

## Resultados
Your submission scored 0.87739, which is an improvement of your previous score of 0.87718. Great job!

In [2]:
##  Reemplazar por los mejores submits o los que ustedes crean copados.
df1 = pd.read_csv('../submit_xgb_v7_ndv.csv', low_memory=False, index_col='person')
df2 = pd.read_csv('../submit_20180412.csv', low_memory=False, index_col='person')
df3 = pd.read_csv('../submit_lgbm_v3_less_features.csv', low_memory=False, index_col='person')

In [3]:
df1.rename(columns={'label':'label_1'}, inplace=True)

In [4]:
df2.rename(columns={'label':'label_2'}, inplace=True)

In [5]:
df3.rename(columns={'label':'label_3'}, inplace=True)

In [6]:
merge = df1.join(df2)
merge = merge.join(df3)

In [7]:
##  Le di más peso al que mejor score sacó, that's about it.
merge['label'] = merge['label_1'] * 0.4 + merge['label_2'] * 0.3 + merge['label_3'] * 0.3

In [8]:
merge[['label']].to_csv('../submit_averaging.csv', sep=',')

In [9]:
merge.head()

           label_1   label_2   label_3     label
person
4886f805  0.003983  0.396714  0.005384  0.122223
0297fc1e  0.024131  0.424735  0.015361  0.141681
2d681dd8  0.011377  0.409064  0.015356  0.131877
cccea85e  0.276346  0.501771  0.279438  0.344901
4c8a8b93  0.021917  0.427053  0.032428  0.146611