In [1]:
import pandas as pd
import numpy as np

In [2]:
##  Reemplazar por los mejores submits o los que ustedes crean copados.
df1 = pd.read_csv('../submit_xgboost_v2.csv', low_memory=False, index_col='person')
df2 = pd.read_csv('../weird_submit.csv', low_memory=False, index_col='person')
df3 = pd.read_csv('../submit_casimiro.csv', index_col='person')

In [3]:
df1.rename(columns={'label':'label_1'}, inplace=True)

In [4]:
df2.rename(columns={'label':'label_2'}, inplace=True)

In [5]:
df3.rename(columns={'label':'label_3'}, inplace=True)

In [6]:
merge = df1.join(df2)
merge = merge.join(df3)

In [7]:
##  Le di más peso al que mejor score sacó, that's about it.
merge['label'] = merge['label_1'] * 0.15 + merge['label_2'] * 0.7 + merge['label_3'] * 0.15

In [8]:
merge[['label']].to_csv('../weird_submit_v3.csv', sep=',')

In [9]:
merge.head()

           label_1   label_2   label_3     label
person
4886f805  0.003787  0.003802  0.003875  0.003811
0297fc1e  0.026261  0.032701  0.039644  0.032777
2d681dd8  0.011454  0.009249  0.008686  0.009495
cccea85e  0.199903  0.176679  0.257446  0.192278
4c8a8b93  0.022498  0.038761  0.044798  0.037227